---
const today = new Date();
import { Image } from 'astro:assets';
import TalkyardLogo from '../assets/talkyard-logo.png';
import AstroLogo from '../assets/astro-icon-dark.svg';
---

<footer>
	<div class="footer-copyright">
		&copy; {today.getFullYear()} Steve Quince — All rights reserved
	</div>
	<div class="footer-attribution">
		<div>
			Built with <a href="https://astro.build">Astro <Image src={AstroLogo} alt="Astro" class="logo" /></a>
			and <a href="https://www.talkyard.io">Talkyard <Image src={TalkyardLogo} alt="Talkyard" class="logo" /></a>
		</div>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
		font-size: 1rem;
	}
	.footer-copyright {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;
		justify-content: space-around;
		max-width: 720px;
		margin: auto;
	}
	.footer-attribution {
		display: flex;
		flex-direction: row;
		gap: 1em;
		justify-content: space-around;
		max-width: 720px;
		margin: auto;
	}
	.logo {
		vertical-align: top;
		width: 24px;
		height: 24px;
		opacity: 0.75;
	}
	.footer-attribution div {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5em;
	}
</style>
