---
import HeaderLink from './HeaderLink.astro';
// import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Me Who</HeaderLink>
			<HeaderLink href="/musings">Me Blathering</HeaderLink>
			<HeaderLink href="/outposts">Me Loitering</HeaderLink>
		</div>
		<!-- <div class="theme-toggle">
			<ThemeToggle />
		</div> -->
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		font-family: 'Kanit';
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}

	/* .theme-toggle {
		display: flex;
		align-items: center;
		height: calc(var(--icon-size) + 2 * var(--icon-padding));
	} */

	@media (max-width: 55em) {
		.social-links {
			display: none;
		}
	}
</style>
